---
layout: default
title: Jannis Wicke – Imprint
description:   Desinger and developer, founder of PixelPink, currently studying digital media and available for freelance.
---
<div>
    <h1>
        Imprint
    </h1>
    <p>Jannis Paul Wicke</p>
    <p>This is how you can contact me</p>
    <h1>
        Data privacy
    </h1>
    <p>This site doesn't use any cookies!</p>
    <p></p>
</div>